{% extends 'base.html.twig' %}

{% block title %}Mes commandes - Broc Vintage Style{% endblock %}

{% block body %}
<div class="mes-commandes-compte">
<h1>Mes commandes</h1>

<p> C'est dans cet espace que vous allez pouvoir gérer toutes vos commandes. <br></p>

<button class="btn btn-info rounded-pill"><a href="{{ path('account') }}" class="text-white">Retour</a></button> 

   {% if app.user.orders|length == 0 %}
<hr>
   <p class="text-center">
      Vous n'avez pas encore passé de commande sur Broc Vintage Style. 
   </p> 

   {% else %}
      <table class="table mt-4">
         <thead>
            <tr>
               <th scope="col">Reference</th>
               <th scope="col">Passée le</th>
               <th scope="col">Nb de Produit(s)</th>
               <th scope="col">Total</th>
               
            </tr>
         </thead>
      <tbody>
         {% for order in app.user.orders %}
         
  
         <tr>      
               <td><span class="badge bg-secondary">{{ order.reference }}</span></td>
               <td>{{ order.createdAt|date('d/m/Y') }}</td>
               <td>{{ order.orderDetails|length }}</td>
               <td>{{ ((order.carrierPrice + order.getTotal)/100) |number_format(2, ',', '.') }} €</td>
               <td class="text-right"><a href="{{ path('account_order_show', {'reference' : order.reference}) }}">Voir ma commande</a></td> 
         </tr>  

         {% endfor %}

      </tbody>
      </table>
      
    
     
   {% endif %}
</div>
{% endblock %}