<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        
       
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
        <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Fredericka+the+Great&family=Pacifico&display=swap" rel="stylesheet">
        {% block stylesheets %}{% endblock %} <link rel="stylesheet" href="{{ asset('assets/css/formulaire.css') }}">

    </head>
    <body>
    <nav class="navbar navbar-expand-lg" >
  <div class="container-fluid">
    <a href="{{asset('assets/images/logo/logo_site1.png')}}"target="_blank"><img src="{{asset('assets/images/logo/logo_site.png')}}" style="width:100px;height:auto;"></a> 
    <p style="font-size:40px;font-style:italic;font-family: 'Fredericka the Great',cursive; margin-left:10px;">Broc vintage style</p>  
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mx-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{{path('app_home')}}">Accueil</a>
        </li>
       
        <li class="nav-item">
          
           <div class="btn-group">
              <button type="button" class="btn  dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                La boutique</button>
              
                <ul class="dropdown-menu" >
                  <li><a class="dropdown-item" href="{{path('boutique')}}">Toute la boutique</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="{{path('art_table')}}">Art de la Table Chic ou Vintage</a></li>
                  <li><a class="dropdown-item" href="#">Décoration</a></li>
                  <li><a class="dropdown-item" href="#">Culture Vintage et Occasion</a></li>
                  
                </ul>
</div>
       <div class="btn-group">
              <button type="button" class="btn  dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                Mon Compte</button>
              
                <ul class="dropdown-menu" >
                  <li><a class="dropdown-item" href="{{path('register')}}">S'enregistrer</a></li>
                  <li><a class="dropdown-item" href="{{path('login')}}">Se connecter</a></li>
                  <li><a class="dropdown-item" href="{{path('account')}}">Mon compte</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="{{path('logout')}}">Se deconnecter</a></li>
                  
                </ul>
</div>
           
        <li class="nav-item">
          <a class="nav-link" href="#">Nous contacter</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Mon panier</a>
        </li>
      </ul>
      <form class="d-flex" role="search">
        
        <button class="btn btn-outline-success form-control"  type="submit"><a class="nav-link active" aria-current="page" href="#">Rechercher un produit</a></button>
      </form>
      
    </div>
  </div>
</nav>
 


<div class="modificationmdp">
{% block body %}
    <div class="modif_mdp">
        <h1>Modifier mon mot de passe</h1><br>
            <button ><a href="{{path('account')}}">retourner à mon compte</a></button><br><br>
            {% if notification %}
                <div class="alert alert-info">{{notification}}</div>            
            {% endif %}
            
            {{form(form)}}
            
    
        
    </div><br>
 {% endblock %}
 
 


<footer class="footer">
  &copy; |2022 <span>Broc Vintage Style</span>  product by <a href="https://richard83136.github.io/freelance" target="_blank" style="text-decoration:none;">RSWEBCORP
</footer>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js" integrity="sha384-mQ93GR66B00ZXjt0YO5KlohRA5SY2XofN4zfuZxLkoj1gXtW8ANNCe9d5Y3eG5eD" crossorigin="anonymous"></script>
        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </body>
</html>

